# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Java classfiles 
*.class

# excel files
*.xls
*.xlsx

# misc
*.log
test.txt
tmp.txt
*.tmp
*.tst
adhoc/
